#login{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-display: none;
    background-color: aqua;

}

#nome{
    color: blue;
}

#btn{
    
    border-radius: 20px;
    width: 10%;
    height: 30px;
    color: blue;

}

#log{
    border-radius: 20px;
    width: 15%;
    height: 20px;
}

#senha{
    border-radius: 20px;
    width: 15%;
    height: 20px;

}